<nav class="nav">
    <div class="logo">
        <span class="dot"></span> Jose's Space
    </div>

    <ul class="links">
        <li><NavLink href="/" Match="NavLinkMatch.All" style="color:#fca311;">Home</NavLink></li>
        <li><NavLink href="/My_space/about" style="color:#fca311;">About</NavLink></li>
        <li><NavLink href="/My_space/projects" style="color:#fca311;">Projects</NavLink></li>
        <li><NavLink href="/My_space/music" style="color:#fca311;">Music</NavLink></li>
    </ul>

</nav>
