<nav class="nav">
    <div class="logo">
        <span class="dot"></span> personalblogstylesite
    </div>
    <ul class="links">
        <li><NavLink href="/" Match="NavLinkMatch.All">Home</NavLink></li>
        <li><NavLink href="/about">About</NavLink></li>
        <li><NavLink href="/projects">Projects</NavLink></li>
        <li><NavLink href="/music">Music</NavLink></li>
    </ul>
</nav>

